.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 12%;
  background: linear-gradient(to bottom, #fffcf1, #ffffff);
}
.about-text {
  padding-right: 80px;
}
.about_info {
  color: #727272;
  line-height: 28px;
  font-size: 18px;
  font-weight: 200;
}
.about_img {
  border-radius: 10px;
  height: 174px;
  width: 174px;
}
.about_title {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 16px;
  color: #40016a;
}
.about-image img {
  border-radius: 8px;
  width: 120px;
  height: auto;
}
.wave_wrapper {
  background-color: transparent;
  width: 100%;
}
.key-elements {
  background-color: #3d0075;
  color: white;
  text-align: center;
  padding: 60px 30px;
}

.key-elements_title {
  font-size: 32px;
  font-weight: 400;
}

.elements-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.element {
  flex: 1;
  max-width: 30%;
}
.element_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.element_details {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
}

.icon {
  font-size: 30px;
  margin-bottom: 15px;
}

.yellow-circle {
  background-color: #ffd700;
  color: #3d0075;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 15px;
  font-size: 28px;
}
