.coffee-container {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
.coffee-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #101720;
  padding-top: 30px;
  max-width: 70%;
  margin: 0 auto;
}
.coffee-section {
  height: 360px;
  background-image: url("../../../../assets/coffee-beans-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}
.coffee-image {
  position: absolute;
  height: 160%;
  max-height: none;
  object-fit: contain;
  z-index: 1;
  top: -60%;
}
