.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  background: #f4f4f4;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
}
